// 表格公共样式

.my-table {
    margin: auto;
    border: 1px solid red;
}
.my-table-header {
    border-bottom: 1px solid red;
    tr {
        button {
            background-color: red;
            padding: 0 4px;
        }
    }
}
.my-table-body {
    height: 600px;
    overflow-y: auto;
}
th {
    border: 1px solid red;
    padding: 4px;
}
.row-content {
    td {
        display: inline-block;
        padding: 4px 16px;
    }
}
.my-table-pager {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid red;
    padding-top: 2px;
    .pager-list {
        display: flex;
    }
    li {
        width: 20px;
        text-align: center;
        border: 1px solid #ccc;
        cursor: pointer;
    }
    .active {
        border: 1px solid red;
    }
    .size-select {
        width: 50px;
        background-color: aqua;
        opacity: 0.5;
        margin-right: 10px;
    }
}